Peder Brennum <pederbr@stud.ntnu.no> root <root@DESKTOP-PNC13D7>
Peder Brennum <pederbr@stud.ntnu.no> pedebr <peder.brennum@gmail.com> 
Peder Brennum <pederbr@stud.ntnu.no> pederbr <peder.brennum@gmail.com>
askha <askha@stud.ntnu.no> ahallemberg <ahallemberg@gmail.com>
